<div class="container">
  <div class="todo-list">
    <div class="todo-list__input-group">
      <input type="text" placeholder="Todo">
      <button class="todo-list__add-button">+</button>
    </div>
    <table>
      <tr class="todo-list__even">
        <td>
          <pre>
            Visit Ann
          </pre>
        </td>
        <td>
          <button class="todo-list__remove-button">X</button>
          <button class="todo-list__done-button">Done</button>
        </td>
      </tr>
      <tr class="todo-list__odd">
        <td>
          <pre>
            Call dad
          </pre>
        </td>
        <td>
          <button class="todo-list__remove-button">X</button>
          <button class="todo-list__done-button">Done</button>
        </td>
      </tr>
      <tr class="todo-list__even">
        <td>
          <pre>
            Go to gym
          </pre>
        </td>
        <td>
          <button class="todo-list__remove-button">X</button>
          <button class="todo-list__done-button">Done</button>
        </td>
      </tr>
      <tr class="todo-list__odd">
        <td>
          <pre>
            Wash dishes
          </pre>
        </td>
        <td>
          <button class="todo-list__remove-button">X</button>
          <button class="todo-list__done-button">Done</button>
        </td>
      </tr>
      <tr class="todo-list__even">
        <td>
          <pre>
            Buy groceries
          </pre>
        </td>
        <td>
          <button class="todo-list__remove-button">X</button>
          <button class="todo-list__done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>